.bg-search {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-color: #DDD;
  border-radius: 50px;
  border: 1px solid #CCC;
  background-size: 15px;
  font-size: 12px;
  padding: 10px 110px 10px 20px;


}

header {
  background: #F2F2F2;
}

.user-name {
  font-size: 22px;
  margin: 0;

}


.user-img {
width: 50px;
height: 50px;
border-radius: 50%;
display: block;
border: 2px solid #DDD;
float: left;
margin-right: 20px;

}

.logo-topo {
padding-top: 5px;
}


.separador {
    border-right: 1px solid #CCC;

}

.p-vertical {
padding-top: 15px;
padding-bottom: 15px;

}

.titulo-curso {
  font-size: 15px;
  font-weight: bold;
 }

.titulo-principal {
  padding-top: 2%;
}

.ver-mais {
background-color: #088A08;
padding: 20px 200px 10px 20px;
border-radius: 50px;
text-transform: uppercase;

}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.slider .owl-theme .owl-controls {
  margin-top: -11px;
  z-index: 100;
  position: relative;
}
