.bg-search {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-color: #DDD;
  border-radius: 50px;
  border: 1px solid #CCC;
  background-size: 15px;
  font-size: 12px;
  padding: 10px 60px 10px 20px;


}


.header {
background:#E6E6E6;
}

.body {
  background: #E6E6E6;
}

.user-name {
  font-size: 22px;
  margin: 0px;
  transform: translate( -1%, -5%)
}


.user-img {
width: 50px;
height: 50px;
border-radius: 50%;
display: block;
border: 2px solid #DDD;
float: left;
margin-right: 15px

}


.logo-topo {
padding-top: 10px;
width: 70px;
height: auto;
transform: translate(-110%, -5%)
}


.separador {
    border-right: 1px solid #CCC;

}

.p-vertical {
padding-top: 15px;
padding-bottom: 15px;

}

.card {
padding: 10px;
border-radius: 5px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
max-width: 350px;
margin:  auto;

}

.img-curso {
width: 60px;

}

.borda-img {
  border: 3px dotted #999; /*Definindo o estilo da borda*/
  background-color: #ebebeb; /*Cor de fundo para melhor visualização do exemplo*/
  height: 325px; /*Altura para melhor visualização do exemplo*/
  width: 260x; /*Largura para melhor visualização do exemplo*/
  transform:translate(0%, 3%);
}



.titulo-curso {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 60px 10px 20px;
 }

.titulo-principal {
  padding-top: 2%;
  transform: translate(16%, -5%)
}



.btn-curso {
background: #31B404;
color: #fff;
display: block;
padding: 10px;
margin: 10px 0;
text-align: center;
text-decoration: none;
border-radius: 30px;
width: 100%;
cursor: pointer;
text-transform: uppercase;

}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.slider .owl-theme .owl-controls {
  margin-top: -11px;
  z-index: 100;
  position: relative;
}

.leo_logo_rodape {
  width: 120px;
  padding: 20px;
  transform: translate(200%, 40%)
}

.direitos {
transform: translate(32%, 70%)
}

.rodape-02{
transform: translate(10%, 60%)

}

.rodape-03 {
transform: translate(-10%, 60%)
}

.twitter  {
width: 40px;
transform:translate(50%, -5%);
}

.youtube {
width: 40px;
  transform:translate(80%, -5%);
}

.pinterest {
width: 40px;
transform:translate(110%, -5%);

}


.col-md-12 {
  background-color: #BDBDBD;


}

.rodape {
  transform:translate(16%, 8%);
}

.down {
  height: 160px;
}


  div.retangulo {
 line-height:0;
 width:200px;
 height:160px;
 
 }
